body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-image: url(/images/background-image.jpg);
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;	
}
#menu
{
 padding:0px;
 margin:0px;
 width:180px;
 height:100%;
 background-color:#2e2e2e00;
 position:fixed;
 top:0px;
 left:0px;
}
#menu li
{
 list-style-type:none;
 text-align:left;
}
#menu #sitename
{
 font-size:40px;
 margin-top:50px;
 margin-bottom:30px;
 padding:0px;
 padding-left:20px;
 color:white;
 border-bottom:none;
 cursor:pointer;
}
#menu li a
{
 height:auto;
 line-height:50px;
 display:block;
 color:rgb(163, 0, 168);
 text-decoration:none;
 font-size:24px;
 padding-left:20px;
 padding-bottom: 30px;
}
#menu li:hover a
{
 color:rgb(62, 207, 98);
}
#content
{
 width:900px;
 margin-top:40px;
 text-align:center;
 background-color: rgba(240, 248, 255, 0.432);
 margin-bottom: 40px;
}
#content h1
{
 margin-top:50px;
 font-size:45px;
 color:#000000;
}
#content h1 p
{
 font-size:18px;
 width:100%;
 margin:0px;
 margin-top:10px;
}
#content p
{
 color:#000000;
 width:600px;
 margin-left:110px;
}

#content .col-md-auto {
    width: 100%;
}
