/* Navigation */
header {
    background-color: #2424723a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
}
header ul {
    display: flex;
    color: white;
    
}

header li {
    display: inline-block;
    padding: 0px 5px;
}

header p {
    display: inline-block;
}

h1 {
    font-family: 'Sen', sans-serif;
    font-size: 83px;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.navigationLinks {
    display: flex;
    float: inline-end;
}
.navigationLinks a {
    text-decoration: none;
    color: #white;
    display: flex;
}


/* body */

body {
    margin: 0;
    background: rgb(26, 149, 158);
    background-image: url("/images/background-image.jpg");
    background-size: cover;
    font-size: 24pt;
    font-family: 'Sen', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff3b;
    text-align: center;
}

h2 {
    color: white;
    font-size: 60px;
}

button {
    padding: 15px;
    font-size: 15px;
    background-color: turquoise;
    color: black;
    border-radius: 10px;
    font-family: 'Sen', sans-serif;
}



/* My Skills */
.flexContainer {
    display: flex;
    padding: 60px 30px;
}
.flexContainer div {
    width: 33%;
    padding: 25px;
}
h3 {
    font-size: 42px;
    padding-bottom: 25px;
}

/* My Work */
.myWork {
    padding: 30px 30px;
    background-color: #ebebeb70;
}
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
}
.workGrid img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: block;
}
.img1 {
    grid-area: auto;
}
.img2 {
    grid-area: auto;
}
.img3 {
    grid-area: auto;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 30px;
}
.content1 {
    grid-area: auto;
}
.content2 {
    grid-area: auto;
}
.content3 {
    grid-area: auto;
}

/* contact me */
.contactMe {
    background-color: rgba(0, 0, 0, 0.247);
}
h4 {
    font-size: 40px;
    margin-bottom: 0%;
}

.contact-info li {
   list-style: none;
   padding: 10px;
}

.contact-info a {
    color: black;
    text-decoration: none;
}


/* footer */

footer {
    background-color: #3737389f;
    max-height: max-content;
    padding: 50px;
    color: white;
}

.footer-logo {
    float: inline-start;
    padding: 0px;
}

footer ul {
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}

footer li {
   display: inline-block;
   padding: 0px 7px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    padding: 15px;
    font-size: 16px;
    float: right;
}

footer .icon-reference {
    font-size: 10px;
}



@media only screen and (max-width: 600) {
 .flexContainer {
    padding: 60px 30px;
 }
 .flexContainer div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
  }

  #categoryGrid {
      margin: 0px 5%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
      "user research"
      "tools and programs"
      "soft skills";
  }

}